<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- !                    HOME / MAIN     -->

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <!-- !                    MOVIES     -->
      <ion-tab-button tab="movies">
        <ion-icon name="videocam-outline"></ion-icon>
        Movies
      </ion-tab-button>
      <!-- !                    SERIES     -->

      <ion-tab-button tab="series">
        series
      </ion-tab-button>
      <!-- !                    SETTINGS     -->

      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!--   <ion-router-outlet></ion-router-outlet> -->
</ion-app>
